//---------------------------
// Fonts
//---------------------------

@font-face {
  font-family: 'Born';
  src: url('/midan/fonts/Born/Born.eot');
  src: url('/midan/fonts/Born/Born.woff2') format('woff2'),
       url('/midan/fonts/Born/Born.woff') format('woff'),
       url('/midan/fonts/Born/Born.ttf') format('truetype'),
       url('/midan/fonts/Born/Born.svg#Born') format('svg'),
       url('/midan/fonts/Born/Born.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}